In [1]:
import numpy as np
import pandas as pd
from pyspark import SparkContext
from pyspark.sql import SQLContext, Row

In [2]:
sc = SparkContext( 'local' )  # spark://ip7070
sqlCtx = SQLContext( sc )

In [3]:
df = sqlCtx.read.csv('data1/CCTV_in_Seoul.csv', header=True, inferSchema=True)
df

DataFrame[기관명: string, 소계: int, 2013년도 이전: int, 2014년: int, 2015년: int, 2016년: int]

In [4]:
df.printSchema()

root
 |-- 기관명: string (nullable = true)
 |-- 소계: integer (nullable = true)
 |-- 2013년도 이전: integer (nullable = true)
 |-- 2014년: integer (nullable = true)
 |-- 2015년: integer (nullable = true)
 |-- 2016년: integer (nullable = true)

In [5]:
df.show()

+--------+----+-------------+------+------+------+
|  기관명|소계|2013년도 이전|2014년|2015년|2016년|
+--------+----+-------------+------+------+------+
|  강남구|2780|         1292|   430|   584|   932|
|  강동구| 773|          379|    99|   155|   377|
|  강북구| 748|          369|   120|   138|   204|
|  강서구| 884|          388|   258|   184|    81|
|  관악구|1496|          846|   260|   390|   613|
|  광진구| 707|          573|    78|    53|   174|
|  구로구|1561|         1142|   173|   246|   323|
|  금천구|1015|          674|    51|   269|   354|
|  노원구|1265|          542|    57|   451|   516|
|  도봉구| 485|          238|   159|    42|   386|
|동대문구|1294|         1070|    23|   198|   579|
|  동작구|1091|          544|   341|   103|   314|
|  마포구| 574|          314|   118|   169|   379|
|서대문구| 962|          844|    50|    68|   292|
|  서초구|1930|         1406|   157|   336|   398|
|  성동구|1062|          730|    91|   241|   265|
|  성북구|1464|         1009|    78|   360|   204|
|  송파구| 618|          529|    21|    68|   463|
|  양천구|2034|         1843|   142|    30|   467|
|영등포구| 904|          495|   214|   195|   373|
+--------+----+-------------+------+------+------+
only showing top 20 rows

### group by

In [6]:
gradeDF = sqlCtx.read.csv('data/grade.csv', header=True, inferSchema=True)
gradeDF

DataFrame[학년: string, 과목: string, 결과: string, 중간: int, 기말: int]

In [7]:
gradeDF.show()

+-----+----+-----+----+----+
| 학년|과목| 결과|중간|기말|
+-----+----+-----+----+----+
|1학년|국어| 좋음|  80|  90|
|1학년|국어| 나쁨|  50|  40|
|1학년|국어| 나쁨|  20|  50|
|1학년|수학| 좋음|  83|  95|
|1학년|수학| 좋음|  93|  86|
|2학년|국어| 나쁨|  44|  65|
|2학년|국어| 좋음|  95|  98|
|2학년|수학| 좋음|  96|  99|
|2학년|수학| 나쁨|  57|  69|
+-----+----+-----+----+----+

In [8]:
gradeDF.createOrReplaceTempView('grade')

In [9]:
sql = '''select `학년`, avg(`중간`) from grade
         group by `학년`
       '''
sqlDF = sqlCtx.sql( sql )
sqlDF.show()

+-----+---------+
| 학년|avg(중간)|
+-----+---------+
|2학년|     73.0|
|1학년|     65.2|
+-----+---------+